/* https://stackoverflow.com/questions/21168521/table-fixed-header-and-scrollable-body */
#tableFixHead {
    overflow-y: auto;
    height: 50vh;
}
#tableFixHead thead th {
    position: sticky;
    border-color: transparent;
    top: 0;
}


